// Global skeleton

.container-fluid {
  padding-right: 0;
  padding-left: 0;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
  }

  i {
    margin-right: 20px;
  }

  footer {
    color: white;
  }